# LIST METHODS IN PYTHON

## (1) append

In [7]:
#Used for adding elements to the end of the List.

In [5]:
list1=[7,8,9,4,5,6,1,2,3] 
list1.append(10) 
print(list1)

[7, 8, 9, 4, 5, 6, 1, 2, 3, 10]

## (2) copy

In [8]:
#It returns a shallow copy of a list

In [11]:
skills = ['Python', 'PostgreSQL', 'PowerBI', 'Excel']

output = skills.copy()

print(output)

['Python', 'PostgreSQL', 'PowerBI', 'Excel']

## (3) clear

In [ ]:
#This method is used for removing all items from the list.

In [13]:
listNew = [4,8,8,6,2,4,2,3]
listNew.clear()
print(listNew)

[]

## (4) count

In [14]:
#These methods count the elements.

In [22]:
Actress = ['Hema', 'Rekha', 'Jaya' , 'Sushma', 'Mamta', 'Jaya']

Occurence = Actress.count("Jaya")

print(Occurence)

2

## (5) extend

In [23]:
#Adds each element of an iterable to the end of the List.

In [24]:
banks = ["RBI","SBI","PNB"]
other_banks = ["PSB", "BOI"]
banks.extend(other_banks)
print(banks)

['RBI', 'SBI', 'PNB', 'PSB', 'BOI']

# (6) index

In [25]:
#Returns the lowest index where the element appears.

In [26]:
sports = ['Cricket', 'Hockey', 'Soccer']

previous_index = sports.index("Soccer")

print(previous_index)

2

## (7) insert

In [27]:
#Inserts a given element at a given index in a list.

In [28]:
city = ["Mumbai","Delhi","Chennai"] 
city.insert(2,"Kolkata") 
print(city)

['Mumbai', 'Delhi', 'Kolkata', 'Chennai']

# (8) pop

In [ ]:
#Removes and returns the last value from the List or the given index value.

In [37]:
player = ['Tendulkar', 'Sehwag' , 'Afridi' , 'Ganguly']

player.pop(2)

print(player)

['Tendulkar', 'Sehwag', 'Ganguly']

## (9) remove

In [38]:
#Removes a given object from the List.

In [40]:
list2 = ['RAM', 'and', 'SHYAM']
list2.remove("and")
print(list2)

['RAM', 'SHYAM']

## (10) reverse

In [41]:
#Reverses objects of the List in place.

In [43]:
# a list of numbers
list3 = [7, 12, 33, 444, 4421, 27485, 61] 
list3.reverse() 
print(list3) 
 
# a list of characters
list4 = ['Alpha', 'Beta', 'Gamma', 'Delta', 'Theta', 'Pie'] 
list4.reverse() 
print(list4)

[61, 27485, 4421, 444, 33, 12, 7]
['Pie', 'Theta', 'Delta', 'Gamma', 'Beta', 'Alpha']

## (11) sort

In [45]:
#Sort a List in ascending, descending, or user-defined order.

In [49]:
alphabets = ['q','w','e','r' ,'t','y'] 
alphabets.sort() 
print(alphabets) 
  
random_numbers = [45,5,446,1471,81,3] 
random_numbers.sort() 
print(random_numbers)

['e', 'q', 'r', 't', 'w', 'y']
[3, 5, 45, 81, 446, 1471]

## (12) min

In [50]:
#Calculates the minimum of all the elements of the list.

In [52]:
numbers = [4542121,141,655,214545,45498]
print(min(numbers))

141

## (13) max

In [54]:
#Calculates the maximum of all the elements of the list.

In [55]:
numbers = [4542121,141,655,214545,45498]
print(max(numbers))

4542121